.container {
  max-width: 1600px;
  margin: 0 auto;
}

.infiniteScroll {
  div:nth-child(0) {
    overflow: visible;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .container {
    padding: 0rem 0rem;
  }
}

@media (min-width: 451px) and (max-width: 1599px) {
  .container {
    padding: 0rem 1rem;
  }
}
